/bot-test.py
/models_yolov8/
/yolov8n.pt
/yolov8m.pt
/training_images.zip
/test.py
/runs.zip
/models.zip
/venv_test/
/venv/
/yolov8_model_traning/training_images/
/runs
/dataset
/bot data
/models_yolov8.zip
/old/bot_solver.log
/bot_solver.log
/debug-images/
/Config-local.json
/dung_play.py
/bot data.zip
/ideas.py
/new_model/
/yolov8_model_traning/skusam.py
/yolov8_model_traning/yolov8n.pt
/weights.zip
/best_nove.zip
/cropped_image.png
/Config-local2.json
/old/bot_solver2.log
/bottest/
/bot_solver2.log
