/bot-test.py
/models_yolov8/
/yolov8n.pt
/yolov8m.pt
/training_images.zip
/test.py
/runs.zip
/models.zip
/venv_test/
/venv/
/training_images/
/runs
/dataset
/bot data
/models_yolov8.zip
/old/bot_solver.log
/bot_solver.log
/debug-images/
/Config-local.json
/dung_play.py
/bot data.zip
/ideas.py
